In [17]:
# Importing the pandas library.
import pandas as pd

In [18]:
url = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en"
df = pd.read_csv(url)
df.tail(3)

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
9789,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-149d-13a3-e055-000000000001,Cavan County Council,Number,12
9790,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-14a4-13a3-e055-000000000001,Donegal County Council,Number,31
9791,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1495-13a3-e055-000000000001,Monaghan County Council,Number,7

In [19]:
# Cleaning the "Single Year of Age" and "VALUE" columns.
df["Single Year of Age"] = df["Single Year of Age"].str.replace("Under 1 year", "0")
df["Single Year of Age"] = df["Single Year of Age"].str.replace("\\D", "", regex=True)
df["Single Year of Age"] = pd.to_numeric(df["Single Year of Age"], errors="coerce")
df["VALUE"] = pd.to_numeric(df["VALUE"], errors="coerce")

In [20]:
# Calculating the mean age for males.
df_male = df[df["Sex"] == "Male"]
total_age_male = (df_male["Single Year of Age"] * df_male["VALUE"]).sum()
total_pop_male = df_male["VALUE"].sum()
mean_age_male = total_age_male / total_pop_male
print(mean_age_male)

18.86972386855195

In [21]:
# Calculating the mean age for females.
df_female = df[df["Sex"] == "Female"]
total_age_female = (df_female["Single Year of Age"] * df_female["VALUE"]).sum()
total_pop_female = df_female["VALUE"].sum()
mean_age_female = total_age_female / total_pop_female
print(mean_age_female)

19.46989794938935

In [22]:
# Calculating the difference in mean age between females and males.
difference = mean_age_female - mean_age_male
print(difference)

0.6001740808373981

## Part 2

In [ ]:
# Define the target age
target_age = 35

In [ ]:
# Set the lower and upper bounds for the age group
age_lower = target_age - 5
age_upper = target_age + 5

In [ ]:
# Filter the DataFrame to include only rows within the age group
age_group = df[(df['Single Year of Age'] >= age_lower) & (df['Single Year of Age'] <= age_upper)]

In [ ]:
# Sum the population of males in the age group
total_males = age_group[age_group['Sex'] == 'Male']['VALUE'].sum()

In [ ]:
# Sum the population of females in the age group
total_females = age_group[age_group['Sex'] == 'Female']['VALUE'].sum()

In [ ]:
# Calculate the population difference (Female - Male)
difference = total_females - total_males

In [ ]:
print("Population difference (Female - Male) in age group:", difference)